body {
  margin: 0;
  background: white;
}

.container {
  padding: 30px 135px;
}
.container .containers-page {
  -webkit-animation: fadeIn 1s ease;
          animation: fadeIn 1s ease;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  opacity: 0;
}

body::-webkit-scrollbar-thumb {
  background-color: #cdcdcd;
  border-radius: 100px;
}

@-webkit-keyframes animOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}