header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
}
.logo .black {
  font-weight: 900;
  color: #fb9333;
}
.logo .bold {
  margin-left: 10px;
  font-weight: 700;
  color: #585858;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0 0;
  gap: 56px;
}
.nav-menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #575757;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.nav-menu a:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #fb9300;
}
.nav-menu a span {
  font-weight: 700;
  color: #fb9300;
}