$first-family: "Poppins", sans-serif
$second-family: "Roboto", sans-serif
  
body
  margin: 0
  background: #ffff

.container
  padding: 30px 135px

  .containers-page
    opacity: 0
    animation: animOpacity 1s forwards
    transition: all 0.35s


body::-webkit-scrollbar
  width: 6px

body::-webkit-scrollbar-track
  opacity: 0

body::-webkit-scrollbar-thumb
  background-color: #cdcdcd
  border-radius: 100px


@keyframes animOpacity
  0%
    opacity: 0
  100%
    opacity: 1